.app{
  min-height: 100vh;
  background: rgb(92, 190, 223);
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.tweet {
  border-radius: 30px;
  height: 300px;
  width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.red{
  color: red;
  font-size: 50px;
}